<!DOCTYPE html>
<html>
<head>
    <title>Style Transfer</title>
</head>
<body>
    <h1>Upload Content and Style Images</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="content">Content Image:</label>
        <input type="file" id="content" name="content">
        <br><br>
        <label for="style">Style Image:</label>
        <input type="file" id="style" name="style">
        <br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
